
#Game
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/game/*/[Ll]ibrary/
/game/*/[Tt]emp/
/game/*/[Oo]bj/
/game/*/[Bb]uild/
/game/*/[Bb]uilds/
/game/*/[Ll]ogs/
/game/*/[Uu]ser[Ss]ettings/

/game/*/[Mm]emoryCaptures/
/game/*/[Rr]ecordings/

# IDE
.vs/
.gradle/
.consulo/

# Visual Studio / Rider
*.csproj
*.sln
*.unityproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash & temp
sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Addressables build output (이건 생성물이라 제외)
game/*/Assets/AddressableAssetsData/*/*.bin*

# Android StreamingAssets 자동 생성물
game/*/Assets/StreamingAssets/aa/
game/*/Assets/StreamingAssets/aa.meta

#디플로이
scripts/*